* {
  box-sizing: border-box;
  /*outline: 2px solid rgba(200,0,0,.1);*/
}

body{
  margin: 0;
  font-family: sans-serif;
}

img{
  display: block;
  width: 100%;
}

.contenedor-principal{
  /*max-width: 768px;*/
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
}

  .contenedor-superior{
    width: 100%;
    /*display: block;*/
    background: #000000;
  }

  .contenedor-intermedio{
    width: 100%;
  }

  .contenedor-inferior{
    width: 100%;
  }

    .contenedor-column{
      display: flex;
      flex-wrap: wrap;
      /*align-items: flex-start;*/
    }
      .columnas-izq{
        width: 70%;
      }

      .columnas-der{
        width: 30%;
      }

    .contenedor{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin: 0;
    }
    .contenedor-der{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin: 0;
    }

    .titulo{
      background: #000000;
      display: flex;
      flex-wrap: wrap;
    }

      .img-up1{
        width: 25%;
        padding: 0;
        margin: 0;
      }
      .img-up2{
        width: 75%;
        margin: 0:
        padding: 0;
      }
      button#menu {
        display: none;
      }

    button#menu:focus + nav#boton {
      display: block;
    }

    nav#boton ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    nav#boton ul a {
      display: block;
      /*width: 8em;*/
      text-decoration: none;
      border: 1px solid #000000;
      padding:  10px;
      text-align: center;
      color: #ffffff;
      background: #000000;
      transition: 1s screen;
    }

    nav#boton ul a:hover {
      background: #ec7b5f;
    }

    .txt-col-izq1{
      font-size: 12px;
    }

    .contenedor span{
      margin: 5px;
      background: #FFDAB9;
      /*font-size: 90%;*/
      color: #3E7FBB;
    }

    .contenedor di{
      margin: 5px;
      background: #00BFFF;
      font-size: 90%;
      color:
    }
    .extra-titulo{
      position: absolute;
      left: 0;
      top: 230px;
    }

    .contenedor-titulo{
      width: 100%;
    }

    .col-izq{
        width: 60%;
    }

    .col-der{
      width: 40%;
    }

    .column-izq{
      width: 50%;
    }

    .column-der{
      width: 50%;
    }

    .titulo-int{
      margin-top: 60px;
    }

    .txt-col-der1{
      font-size: 9px;
    }

    .txt-col-der2{
      font-size: 12px;
      color: #0000ff;
    }

    .txt-col-der3{
      font-size: 10px;
    }
    .columnas-der .contenedor{
      padding: 5px;

    }
    .view-all{
      text-align: right;

    }
    .columnaA bot{
      font-size: 10px;
      text-align: center;
      padding-left: 5px;
      margin: 11px;
    }
    table{
      background: #0000ff;
      color: #ffffff;
      position: fixed;
      bottom: 80px;
      right: 40px;
    }
    .boton{
      padding-left: 10px;
      background-color: #000000;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Helvetica', sans-serif;
    }

@media screen and (max-width: 760px){
.contenedor{
  display: block;
}
.columnas-izq{
  width: 100%;
}
.columnas-der{
  width: 100%;
}
  button#menu {
      display: block;
      /*width: 10%;*/
      position: absolute;
      right: 40px;
      top: 50px;
      color: #000000;

  }
  nav#boton {
      display: none;
  }
  nav#boton ul {
      flex-direction: column;
      position: fixed;
      right: 40px;
      top: 70px;
  }
  .img-up1{
    width: 25%;
    padding: 0;
    margin: 0;
  }

  .img-up2{
  display: none;
  }
  .subtitulo span{
    flex-direction: column;
    padding-right: 400px;
    /*margin-right: 200px;*/

  }
  .subtitulo di{
    position: absolute;
    left: 0;
    top: 240px;
    padding-right: 140px;
  }
  .extra-titulo{
    display: block;
    position: relative;
    left: 0;
    top: 10px;
  }
  .col-izq{
    width: 100%;
  }
  .col-der{
    width: 100%;
  }
  .column-izq{
    width: 35%;
  }
  .column-der{
    width: 65%;

  }
  .subtitulo{
    font-size: 18px;
  }
  .txt-col-izq1{
    font-size: 18px;
  }
  .txt-col-der1{
    font-size: 15px;
  }

  .txt-col-der2{
    font-size: 18px;
    color: #0000ff;
  }

  .txt-col-der3{
    font-size: 16px;
  }
}
